@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    /* Fonts */
    --font-family: 'Poppins', sans-serif;

    /* Background Colors */
    --bg-color: #ffffff;

    /* Primary Brand Color */
    --primary-color: #4b8ef1;
    --primary-hover-color: #3a7be0;

    /* Secondary Brand Color */
    --secondary-color: #5f6fff;
    --secondary-hover-color: #6a5cff;

    /* Gradient */
    --primary-gradient: linear-gradient(105deg, rgba(88, 112, 236, 1) 0%, rgba(44, 214, 251, 1) 100%);

    /* Paragraph Colors */
    --text-color: #777777;
    --text-light-color: #afafaf;
    --text-dark-color: #2a2a2a;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Header Section */

#header {
    padding: 25px;
    border-bottom: 1px solid rgba(42,42,42,0.2);
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-menu ul {
    display: flex;
    gap: 45px;
}

.gradient-button {
    margin-left: 25px;
}

.gradient-button a {
    background: var(--primary-gradient);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--bg-color) !important;
}

#nav-menu ul li a {
    color: var(--text-dark-color);
    font-size: 16px;
    font-weight: 500;
}

#nav-menu ul li a.active {
    color: var(--primary-color);
}

#nav-menu ul li a:hover {
    color: var(--primary-color);
}


/* Banner Section */

.banner-section {
    display: flex;
    align-items: center;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--text-dark-color);
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.primary-btn {
    background: var(--primary-color);
    padding: 10px 30px;
    color: var(--bg-color);
    border-radius: 20px;
    display: flex;
}

.primary-btn i {
    padding-left: 10px;
}

.banner-btn {
    display: flex;
    gap: 20px;
}

.hero-section {
    background-image: url("/images/slider-left-dec.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding: 250px 120px 150px 120px;
}