@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    /* Fonts */
    --font-family: 'Poppins', sans-serif;

    /* Background Colors */
    --bg-color: #ffffff;

    /* Primary Brand Color */
    --primary-color: #4b8ef1;
    --primary-hover-color: #3a7be0;

    /* Secondary Brand Color */
    --secondary-color: #5f6fff;
    --secondary-hover-color: #6a5cff;

    /* Gradient */
    --primary-gradient: linear-gradient(105deg, rgba(88, 112, 236, 1) 0%, rgba(44, 214, 251, 1) 100%);

    /* Paragraph Colors */
    --text-color: #777777;
    --text-light-color: #afafaf;
    --text-dark-color: #2a2a2a;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Header Section */

#header {
    padding: 25px;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-menu ul {
    display: flex;
    gap: 45px;
}

.gradient-button {
    margin-left: 25px;
}

.gradient-button a {
    background: var(--primary-gradient);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--bg-color) !important;
}

#nav-menu ul li a {
    color: var(--text-dark-color);
    font-size: 16px;
    font-weight: 500;
}

#nav-menu ul li a.active {
    color: var(--primary-color);
}

#nav-menu ul li a:hover {
    color: var(--primary-color);
}


/* Banner Section */

.banner-section {
    display: flex;
    align-items: center;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--text-dark-color);
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.primary-btn {
    background: var(--primary-color);
    padding: 10px 30px;
    color: var(--bg-color);
    border-radius: 20px;
    display: flex;
}

.primary-btn i {
    padding-left: 10px;
}

.banner-btn {
    display: flex;
    gap: 20px;
}

.hero-section {
    background-image: url("../images/slider-left-dec.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding: 250px 120px 150px 120px;
}


/* Service Section */

.services {
    padding: 130px 0;
    position: relative;
}

.services::before {
    content: '';
    background-image: url(../images/services-right-dec.png);
    position: absolute;
    width: 1136px;
    height: 244px;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
}

.services::after {
    content: '';
    background-image: url(../images/services-left-dec.png);
    width: 261px;
    height: 368px;
    position: absolute;
    left: 0;
    bottom: -200px;
    background-repeat: no-repeat;
}

.section-heading {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.section-heading p {
    color: var(--text-light-color);
    line-height: 1.6;
    margin-top: 15px;
}

.section-heading h2 {
    font-size: 30px;
}

.section-heading h2 span {
    color: var(--primary-color);
}

.service-box {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.service-item {
    background: var(--bg-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px 50px 10px 10px;
    padding: 30px;
    position: relative;
    transition: all .3s;
}

.service-icon img {
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--text-light-color);
}

.read-more-btn a {
    color: var(--primary-color);
}

.read-more-btn i {
    margin-left: 5px;
}

.service-item .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.first-service .icon {
    background-image: url(../images/service-icon-01.png);
}

.first-service:hover .icon {
    background-image: url(../images/service-icon-hover-01.png);
}

.second-service .icon {
    background-image: url(../images/service-icon-02.png);
}

.second-service:hover .icon {
    background-image: url(../images/service-icon-hover-02.png);
}

.third-service .icon {
    background-image: url(../images/service-icon-03.png);
}

.third-service:hover .icon {
    background-image: url(../images/service-icon-hover-03.png);
}

.forth-service .icon {
    background-image: url(../images/service-icon-04.png);
}

.forth-service:hover .icon {
    background-image: url(../images/service-icon-hover-04.png);
}

.service-item:hover {
    background-image: url(../images/service-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.service-item:hover h3,
.service-item:hover p,
.service-item:hover .read-more-btn a {
    color: var(--bg-color);
}

.first-service:hover .service-icon {
    background-image: url(../images/service-icon-hover-01.png);
}